@charset "utf-8";

footer {
	clear: both;
	padding: 5px 5px 10px 5px;
	background-color: $main-color;
	color: $bg-color;
}
.copyRight {
	display: block;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
}