@charset "utf-8";

// ============================================= *
//                                                *
//  ナビゲーションバー                            *
//                                                *
// ============================================= */

.navbar-default .navbar-toggle {
    //共通
    border-color: transparent;
    &:focus,
    &:active,
    &:hover {
        background: none;
        border-color: transparent;
    }
    .icon-bar {
        @include transitionSet();
    }
    //ハンバーガーアニメーション
    @include hamburger1();
}
.navbar {
    &_head {
        margin: {
            top: 0;
            bottom: 0;
        }
    }
    &-nav {
        margin: 0 15px 0 0;
    }
    & > .container .navbar-brand, & > .container-fluid .navbar-brand
    {
        margin-left: 0;
    }
}