@charset "utf-8";

/*
#overview
新着情報ページスタイルガイド
*/
/*
#styleguide
コンテンツページのアイキャッチ(ヒーロー)
```
    <section class="container-fluid eyecatch">
        <div class="container">
            <h1 class="eyecatch_header">新着情報</h1>
        </div>
    </section>
```
*/
/*
#styleguide
記事(アイキャッチ画像なし)
```
    <main class="container-fluid main newsmain">
        <section class="container my-5">
            <div class="row align-items-top my-4 news_contents">
                <div class="col-md-12 col-lg-6 col-xl-4 news_card mb-4">
                    <article class="news_article">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="news_header"><a href="./#">記事タイトル</a></h3>
                                <div class="news_contents">
                                    <p>記事本文</p>
                                    <ul>
                                        <li>いろはにほへと</li>
                                        <li>ちりぬるを</li>
                                    </ul>
                                    <ol>
                                        <li>わかよたれそ</li>
                                        <li>つねならむ</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fas fa-fw fa-history" aria-hidden="true"></i><time class="news_createtime" datetime="2018-07-16">2018/07/16</time>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
```
*/
/*
#styleguide
記事
```
    <main class="container-fluid main newsmain">
        <section class="container my-5">
            <div class="row align-items-top my-4 news_contents">
                <div class="col-md-12 col-lg-6 col-xl-4 news_card mb-4">
                    <article class="news_article">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="../../dist/img/eyecatch.jpg" alt="アイキャッチサンプル">
                            <div class="card-body">
                                <h3 class="news_header"><a href="releasenote-hoge">記事タイトル</a></h3>
                                <div class="news_contents">
                                    <p>記事本文</p>
                                    <ul>
                                        <li>いろはにほへと</li>
                                        <li>ちりぬるを</li>
                                    </ul>
                                    <ol>
                                        <li>わかよたれそ</li>
                                        <li>つねならむ</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fas fa-fw fa-history" aria-hidden="true"></i><time class="news_createtime" datetime="2018-07-16">2018/07/16</time>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
```
*/
/*
#styleguide
ページネーション
```
        <nav class="mt-3 mb-4" aria-label="新着情報一覧のページ送り">
            <ul class="pagination">
                <li class="page-item">
                    <a href="news/news1.html" class="page-link" aria-label="前のページへ">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item"><a href="news/news1.html" class="page-link">1</a></li>
                <li class="page-item active"><a href="news/news2.html" class="page-link">2</a></li>
                <li class="page-item"><a href="news/news3.html" class="page-link">3</a></li>
                <li class="page-item"><a href="news/news4.html" class="page-link">4</a></li>
                <li class="page-item">
                    <a href="news/news5.html" class="page-link" aria-label="次のページへ">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
```
*/
