@charset "utf-8";

/*
#overview
トップページスタイルガイド
*/
/*
#colors
カラーパレット。commonVar.jsonの"color"の名前の付くキーから自動生成する。下記の色指定は生成のための疑似コード。
```
@color #333
```
*/
/*
#styleguide
基本スタイル
```
<h1>見出し1</h1>
<h2>見出し2</h2>
<h3>見出し3</h3>
<h4>見出し4</h4>
<h5>見出し5</h5>
<h6>見出し6</h6>
<p>特に何も指定しないときの状態。<a href="#">リンク</a>。</p>
```
*/
/*
#styleguide
ボタンクラスを付与したリンク
```
<a href="news/news1.html" class="btn btn-light">過去の履歴</a>
```
*/
/*
#styleguide
トップページのアイキャッチ(ヒーロー)
```
<div class="index" id="index">
    <section class="container-fluid eyecatch">
        <div class="container">
            <h1 class="eyecatch_header">Kiribi Ususama</h1>
            <p class="eyecatch_paragraph">gulpを使用した小・中規模Webサイト制作用のボイラープレート</p>
        </div>
    </section>
</div>
```
*/
/*
#styleguide
ヘッダ(ハンバーガー使用)
```
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand my-0 navbar_head" href="<%= relPath %>#wrapper"><%= config.commons.sitename %></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarList">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= relPath %>#features">特徴</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= relPath %>#how2use">使い方</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= relPath %>#origin">由来</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= relPath %>#releasenotes">更新履歴</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
```
*/
/*
#styleguide
パンくずリスト
```
    <main class="container-fluid main aboutmain">
        <aside class="container">
            <nav aria-label="パンくずリスト">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
                    <li class="breadcrumb-item active" aria-current="page">概要</li>
                </ol>
            </nav>
        </aside>
    </main>
```
*/
/*
#styleguide
メイン
```
    <main class="container-fluid main indexmain">
        <section class="container my-5 features fixed_anchor">
            <div class="page-header mb-3 text-center features_header">
                <h2>特徴<small class="ml-3">Features</small></h2>
            </div>
            <div class="row features_contents">
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fab fa-fw fa-5x fa-gulp" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">gulp</h3>
                            <p class="card-text">タスクランナーにgulpを採用し、ソースのコンパイルから自動プレビューまで一括で管理します。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="#" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fas fa-fw fa-5x fa-mobile-alt" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">Honoka</h3>
                            <p class="card-text">Bootstrapテーマの「Honoka」をベースとすることで、導入コストを削減。レスポンシブWebデザインを簡単に実現できます。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="#" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fas fa-fw fa-5x fa-list" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">News</h3>
                            <p class="card-text">新着情報をテンプレートで一括管理。Markdownコンテンツから、一覧ページ・各記事ページを自動生成します。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="#" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>その他の機能について</a>
                </div>
            </div>
        </section>
    </main>
```
*/
/*
#styleguide
フッタ
```
    <footer class="footer">
        <small class="copyRight">Copyright © 2018 アルム=バンド All Right Reserved.</small>
    </footer>
```
*/
/*
#styleguide
ページトップへ戻る
```
        <div class="returnPageTop"><i class="fas fa-fw fa-chevron-up" aria-hidden="true"></i></div>
```
*/
