/node_modules/
/src/js/concat/
/src/scss/global/_var.scss
/src/js/_plugins/_plugins.js
/src/scss/_plugins/_plugins.scss
/bin/config/subterranean/
/sg/dist/
/dist/
/bin/daishi/src/js/concat/
/bin/styleguide/dist/
.env
/vendor/
/src/php/vendor/