<noscript class="c-noscript">
    <div class="c-noscriptContainer">
        <h2>JavaScriptが有効ではありません</h2>
        <p>当サイトはJavaScriptを使用しております。</p>
        <p>JavaScriptを無効にして当サイトを閲覧された場合、各ページの動作や表示は保証いたしかねます。</p>
        <p>当サイトをご利用の際には、JavaScriptを有効にしていただきますよう、お願いいたします。</p>
    </div>
</noscript>