@charset "utf-8";

// ============================================= *
//                                                *
//  アイキャッチ                                   *
//                                                *
// ============================================= */
//キービジュアルのiOS Safari対策コードを出力
body:not(.mobileSafari) .eyecatch {
    background-attachment: fixed;
}
body.mobileSafari .eyecatch { //bowserでUAにより付与。mobile Safariバグ対策
    background-attachment: scroll;
}