                    <div class="page-header mb-3">
                        <h2>What's this page?<small class="ml-3">About page</small></h2>
                    </div>
                    <p>小・中規模Webサイト制作用のボイラープレートです。</p>
                    <p>Scss, ejs, gulp使用。</p>
<%
if(id === "index") {
%>
                    <div class="mb-4"><a href="about.html" class="btn btn-light">詳しい概要</a></div>
<%
}
%>
                    <h3 class="mb-3">名前の由来</h3>
                    <p>Bootstrapを使っていることから。Bootstrapが電源投入、自動実行といった意味合いなので、何か物事を始めるイメージと火で火打石を連想。ただし、「Hiuchiishi」だと長いので別の単語にしたかった、かつ、これから事を始めるに当たって最初に魔除けを行う、という意味も込めて「切り火」から「Kiribi」としました。</p>
                    <p>一方、gulpは飲み込む、ごくごくと飲むという意味なので、上記の火のイメージを踏襲しつつ、何かを飲み込む逸話を持つ神仏ということで、一切不浄を飲み込み浄化する「烏枢沙摩明王」からお名前をお借りし、「Kiribi Ususama」としました。</p>