<ol class="breadcrumb">
	<li><a href="<%= variables.commons.baseurl %>"><i class="fa fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
	<li><a href="news/<%= returnNews %>"><%= variables.param["news"].title %></a></li>
	<li class="active"><%= newsBlock.title %></li>
</ol>