<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
<%
if(id === "index") {
%>
        <li class="breadcrumb-item"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</li>
<%
}
else {
%>
        <li class="breadcrumb-item"><a href="<%= relPath %>"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= config.param[id].title %></li>
<%
}
%>
    </ol>
</nav>