    <section class="container-fluid eyecatch">
        <div class="container">
            <h1 class="eyecatch_header"><%= headerString %></h1>
<%
if(id === "index") {
%>
            <p class="eyecatch_paragraph"><%= config.param[id].description %></p>
<%
}
%>
        </div>
    </section>