<% let articleClass = '';
if(id === 'article' && attributes.thumbnail !== null && attributes.thumbnail !== undefined) {
    articleClass = ' smallText';
} %>
    <section class="container-fluid l-eyecatch o-eyecatch mt-navbar">
        <div class="container">
            <h1 class="o-eyecatch_header<%= articleClass %>"><%= headerString %></h1>
<% if(id === 'index') { %>
            <p class="o-eyecatch_paragraph"><%= parameters.description %></p>
<% } %>
        </div>
    </section>