<% let eyecatchStyle = '';
let articleClass = '';
if(id === 'article') {
    if(attributes.thumbnail !== null && attributes.thumbnail !== undefined) {
        eyecatchStyle = ` style="background-image:url('${relPath}${config.param.ogp.newsthumbnail}${attributes.thumbnail}');"`;
        articleClass = ' smallText';
    }
} %>
    <section class="container-fluid eyecatch"<%- eyecatchStyle %>>
        <div class="container">
            <h1 class="eyecatch_header<%= articleClass %>"><%= headerString %></h1>
<% if(id === 'index') { %>
            <p class="eyecatch_paragraph"><%= parameters.description %></p>
<% } %>
        </div>
    </section>