    <div class="returnPageTop"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i></div>
    <!-- footer -->
    <footer class="footer">
        <small class="copyRight">Copyright &#169; <%= copyRightYear %> <%= variables.commons.author %> All Right Reserved.</small>
    </footer>
    <!-- /footer -->