    <div class="returnPageTop"><i class="fas fa-fw fa-chevron-up" aria-hidden="true"></i></div>
    <!-- footer -->
    <footer class="footer">
        <small class="pt-1 pb-2 copyRight">Copyright © <%= copyRightYear %> <%= config.commons.author %> All Right Reserved.</small>
    </footer>
    <!-- /footer -->