@charset "utf-8";

// ============================================= *
//                                               *
// モジュール                                    *
//                                               *
// ============================================= */
//YuGothic用
@mixin jugos() {
    font-family: cross-platform-yu-gothic, sans-serif;
}
@mixin jugosmin() {
    font-family: Jugos, //Windows用
                 YuGothic, //OS X
                 -apple-system, //iOS San Francisco
                 BlinkMacSystemFont, //iOS Chrome San Francisco
                 "Hiragino Kaku Gothic ProN", //OS X, iOS ヒラギノ
                 Meiryo, //Windowsメイリオ
                 sans-serif;
}

//trasition
@mixin transitionSet() {
    transition: all 0.3s ease;
}

//dropShadow(垂直)
@mixin dropShadowVertical() {
    box-shadow: 0px 3px 3px rgba($color, 0.4);
}

//dropShadow(斜め)
@mixin dropShadowSkew() {
    box-shadow: 3px 3px 3px rgba($color, 0.4);
}

//dropShadow(斜め、内側)
@mixin dropShadowSkewInset() {
    box-shadow: 3px 3px 3px rgba($color, 0.4) inset;
}