@charset "utf-8";

// ============================================= *
//                                               *
// 変数指定                                       *
//                                               *
// ============================================= */
$main-color2: lighten($main-color, 15%);
$accent-color: darken(adjust-hue($main-color, 135deg), 19%);
$link-color: darken(adjust-hue($main-color, 180deg), 6%);
$link-v-color: darken($link-color, 15%);
$link-ha-color: lighten($link-color, 15%);

// ============================================= *
//                                               *
// 全体設定                                       *
//                                               *
// ============================================= */
a, a:link {
    color: $link-color;
    text-decoration: none;
    @include transitionSet();
}
a:visited {
    color: $link-v-color;
    text-decoration: none;
}
a:hover, a:active {
    color: $link-ha-color;
    text-decoration: underline;
}

//IEでスクロールバーの背後までページが描画されてしまうのを防ぐ
@-ms-viewport {
    width: auto;
    initial-scale: 1;
}
//Chrome系のリストのpaddding打ち消し
ul, ol {
    -webkit: {
        margin: {
            before: 0;
            after: 0;
        }
        padding-start: 0;
    }
}