@charset "utf-8";

// ============================================= *
//                                               *
// 変数指定                                       *
//                                               *
// ============================================= */
$main-color2: darken($main-color, 8%);
$main-color3: lighten($main-color, 8%);
$accent-color: adjust-hue($main-color, 150deg);
$link-color: adjust-hue($main-color, 210deg);
$link-v-color: darken($link-color, 15%);
$link-ha-color: darken($link-color, 8%);
$background-position: center center;
$eyecacth-height: 60vh;

// ============================================= *
//                                               *
// 全体設定                                       *
//                                               *
// ============================================= */
a,
a:link {
    color: $link-color;
    text-decoration: none;
}
a:visited {
    color: $link-v-color;
    text-decoration: none;
}
a:hover,
a:active {
    color: $link-ha-color;
    text-decoration: underline;
}
