@charset "utf-8";

//全体
//見出し
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: {
        top: 0;
        bottom: 0;
    }
}
//リスト
ul,
ol {
    margin-bottom: 0;
}
//コンテナ
//.container-fluid {
//    margin: { //.container-fluid打ち消し
//        left: 0;
//        right: 0;
//    }
//    padding: { //.container-fluid打ち消し
//        left: 0;
//        right: 0;
//    }
//    & > .row {
//        margin: { //.row打ち消し
//            left: 0;
//            right: 0;
//        }
//    }
//}
