@charset "utf-8";

// ============================================= *
//                                               *
// モジュール                                      *
//                                               *
// ============================================= */
//trasition
@mixin t() {
    transition: all 0.3s ease;
}

//キービジュアルの背景画像
@mixin eyecatchBGImg($imgPath, $background-position) {
    .eyecatch {
        background: {
            image: url($imgPath);
            repeat: no-repeat;
            position: $background-position;
            size: cover;
        }
    }
}
//キービジュアルに見出しを左右上下中央寄せ
@mixin eyecatchCenter() {
    display: flex;
    text-align: center;
    align-items: center;
}
//キービジュアルの見出しのタイポグラフィ
@mixin eyecatchTypo($fontSize) {
    color: $main-color;
    z-index: 3;
    font: {
        size: $fontSize;
        family: "Dancing Script", cursive, "Sawarabi Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", Georgia, メイリオ, Meiryo, serif;
    }
}