@charset "utf-8";

// ============================================= *
//                                               *
// モジュール                                      *
//                                               *
// ============================================= */
//trasition
@mixin transitionSet() {
    transition: all 0.3s ease;
}

//dropShadow(垂直)
@mixin dropShadowVertical() {
    box-shadow: 0px 3px 3px rgba($color, 0.4);
}

//dropShadow(斜め)
@mixin dropShadowSkew() {
    box-shadow: 3px 3px 3px rgba($color, 0.4);
}

//dropShadow(斜め、内側)
@mixin dropShadowSkewInset() {
    box-shadow: 3px 3px 3px rgba($color, 0.4) inset;
}

//キービジュアルの背景画像
@mixin eyecatchBGImg($imgPath) {
    &:not(.mobile_Safari) {
        background: url($imgPath) no-repeat center center fixed;
        background-size: cover;
    }
    &.mobile_Safari { //index.jsでUAにより付与。mobile Safariバグ対策
        &:before {
            background: url($imgPath) no-repeat left top;
            background-size: auto 100%; //画像とデバイスによっては100% autoでも
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 108px;
            content: " ";
            z-index: -1;
        }
    }
}
//キービジュアルに見出しを左右上下中央寄せ
@mixin eyecatchCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-fluid {
        box-sizing: border-box; //IEバグフィックス
        max-width: 100%; //IEバグフィックス
    }
}
//キービジュアルの見出しのタイポグラフィ
@mixin eyecatchTypo($fontSize) {
    color: $main-color;
    z-index: 3;
    font: {
        size: $fontSize;
        family: "Dancing Script", cursive; /* googleフォント */
    }
}