@charset "utf-8";

//ハンバーガーメニューのアニメーションのバリエーション
@mixin hamburger1() {
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-4px, 4px);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(45deg) translate(-4px, -4px);
            }
        }
    }
}
@mixin hamburger2() {
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-4px, 4px);
            }
            &:nth-child(3) {
                transform: translateX(22px);
                opacity: 0;
            }
            &:last-child {
                transform: rotate(45deg) translate(-4px, -4px);
            }
        }
    }
}
@mixin hamburger3() {
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                transform: rotate(-405deg) translate(-4px, 4px);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(405deg) translate(-4px, -4px);
            }
        }
    }
}
@mixin hamburger4() {
    .icon-bar {
        &:nth-child(3) {
            &::before,
            &::after {
                @include transitionSet();
                content: " ";
                background: none;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
            }
        }
    }
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                margin-left: 22px;
                width: 0;
            }
            &:nth-child(3) {
                background: none;
                &::before {
                    background-color: #888;
                    transform: rotate(135deg) translateY(-1px);
                }
                &::after {
                    background-color: #888;
                    transform: rotate(45deg) translateY(-1px);
                }
            }
            &:last-child {
                margin-right: -22px;
                width: 0;
            }
        }
    }
}
@mixin hamburger5() {
    .icon-bar {
        &:nth-child(3) {
            &::before,
            &::after {
                @include transitionSet();
                content: " ";
                background: none;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
            }
        }
    }
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2),
            &:last-child {
                transform: translateY(0) scale(0);
            }
            &:nth-child(3) {
                background: none;
                &::before {
                    background-color: #888;
                    transform: rotate(-45deg) translateY(1px);
                }
                &::after {
                    background-color: #888;
                    transform: rotate(45deg) translateY(-1px);
                }
            }
        }
    }
}
@mixin hamburger6() {
    @include transitionSet();
    &:not(.collapsed) {
        transform: rotate(360deg);
        .icon-bar {
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-4px, 4px);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(45deg) translate(-4px, -4px);
            }
        }
    }
}
@mixin hamburger7() {
    @include transitionSet();
    &:not(.collapsed) {
        transform: rotateX(720deg);
        .icon-bar {
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-4px, 4px);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(45deg) translate(-4px, -4px);
            }
        }
    }
}
@mixin hamburger8() {
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                width: 14px;
                transform: rotate(-45deg) translate(-3px, -1px);
            }
            &:last-child {
                width: 14px;
                transform: rotate(45deg) translate(-3px, 1px);
            }
        }
    }
}