@charset "utf-8";

//丸ゴシック指定
@mixin marugo() {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HGMaruGothicMPRO", sans-serif;
}

@mixin mincho() {
    font: {
        family: "Sawarabi Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", Georgia, メイリオ, Meiryo, serif;
        feature-settings: "pkna";
    }
}

//フォント・行間・文字間指定
body {
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
