@charset "utf-8";

$main-color2: darken($main-color, 8%);
$main-color3: lighten($main-color, 8%);
$accent-color: adjust-hue($main-color, 150deg);
$link-color: adjust-hue($main-color, 210deg);
$link-v-color: darken($link-color, 15%);
$link-ha-color: darken($link-color, 8%);
$background-position: center center;
$eyecatch-height: 60vh;
$line-height: 1.6;
$letter-spacing: 0.15rem;
