@charset "utf-8";

// ============================================= *
//                                               *
//  ナビゲーションバー                             *
//                                               *
// ============================================= */
//.navbar-default {
//    .navbar-toggle {
//        //共通
//        border-color: transparent;
//        &:focus, &:active, &:hover {
//            background: none;
//            border-color: transparent;
//        }
//        .icon-bar {
//            @include transitionSet();
//        }
//        //ハンバーガーアニメーション
//        @include hamburger1();
//    }
//}
.navbar {
    &_head {
        font: {
            family: "Dancing Script", cursive, "Sawarabi Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", Georgia, メイリオ, Meiryo, serif; /* googleフォント */
            feature-settings: "pkna";
        }
    }
    &.navbar-light {
        .navbar-brand {
            &,
            &:link,
            &:visited {
                color: $main-color;
            }
            &:hover,
            &:active,
            &:focus {
                color: $main-color2;
            }
        }
    }
    &-light {
        .navbar-toggler {
            border-color: transparent;
            background-color: transparent;
            &[aria-expanded="true"] .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,48,48,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L 24 24M24 6L6 24'/%3E%3C/svg%3E");
            }
        }
        font-family: "Dancing Script", cursive; /* googleフォント */
    }
}
