@charset "utf-8";

.c-eyecatch {
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;
    background: {
        repeat: no-repeat;
        size: cover;
    }
    &_header:not(.smallText) {
        @include eyecatchText(calc(4em + 3vw));
    }
    &_header.smallText {
        @include eyecatchText(3rem);
    }
}

body:not(.mobileSafari) .c-eyecatch {
    background-attachment: fixed;
}
