@charset "utf-8";

/*
#overview
アイキャッチ(ヒーロー)
*/

/*
#styleguide
トップページ
```
<div class="index" id="index">
    <section class="container-fluid c-eyecatch c-eyecatchMaxHeight">
        <div class="container">
            <h1 class="c-eyecatch_header">トップページ</h1>
        </div>
    </section>
</div>
```
*/

/*
#styleguide
下層ページ
```
<div class="about" id="about">
    <section class="container-fluid c-eyecatch c-eyecatchMaxHeight">
        <div class="container">
            <h1 class="c-eyecatch_header">下層ページ</h1>
        </div>
    </section>
</div>
```
*/

@use "../../global" as g;

.c-eyecatch {
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;
    background: {
        repeat: no-repeat;
        size: cover;
    }
    &_header:not(.smallText) {
        @include g.eyecatchText(calc(4em + 3vw), g.$us-main-color);
    }
    &_header.smallText {
        @include g.eyecatchText(3rem, g.$us-main-color);
    }
    &.c-eyecatchMaxHeight {
        @include g.media-breakpoint-down(sm) {
            max-height: 800px;
        }
        @include g.media-breakpoint-only(md) {
            max-height: 800px;
        }
        @include g.media-breakpoint-only(lg) {
            max-height: 800px;
        }
        @include g.media-breakpoint-up(xl) {
            max-height: 1080px;
        }
    }
}

body:not(.iosBG) .c-eyecatch {
    background-attachment: fixed;
}
