@charset "utf-8";

/*
#overview
記事一覧
*/

/*
#styleguide
記事(アイキャッチ画像なし)
```
        <section class="container my-5">
            <div class="row align-items-top my-4 c-newscard_contents" id="c-newscard_contents">
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200816">
                        <div class="card h-100">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-16T14:11:47+09:00">2020/08/16</time>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200815">
                        <div class="card h-100">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-15T20:07:16+09:00">2020/08/15</time>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200815">
                        <div class="card h-100">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-15T13:08:17+09:00">2020/08/15</time>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
```
*/

/*
#styleguide
記事(アイキャッチ画像あり)
```
        <section class="container my-5">
            <div class="row align-items-top my-4 c-newscard_contents" id="c-newscard_contents">
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200816">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="./img/thumbnails/eyecatch.jpg" alt="コンテンツタイトル">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-16T14:11:47+09:00">2020/08/16</time>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200815">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="./img/thumbnails/eyecatch.jpg" alt="コンテンツタイトル">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-15T20:07:16+09:00">2020/08/15</time>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4 mb-4 c-newscard">
                    <article class="c-newscard_article" id="news-20200815">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="./img/thumbnails/eyecatch.jpg" alt="コンテンツタイトル">
                            <div class="card-body p-3">
                                <h3 class="c-newscard_header"><a href="#">コンテンツタイトル</a></h3>
                                <div class="c-newscard_contents">
                                    <p>記事の概要です。トップページと新着情報一覧で出力されます。</p>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-newscard_createtime" datetime="2020-08-15T13:08:17+09:00">2020/08/15</time>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
```
*/

// news list
.c-newscard {
    margin-bottom: 1rem;
    &_contents {
        ul {
            padding-left: 1rem;
        }
        ol {
            padding-left: 2rem;
        }
        img {
            max-width: 100%;
        }
    }
}
