@charset "utf-8";

//news list
.c-news {
    &card {
        margin-bottom: 1rem;
    }
    &_contents {
        ul {
            padding-left: 1rem;
        }
        ol {
            padding-left: 2rem;
        }
        img {
            max-width: 100%;
        }
    }
}
