@charset "utf-8";

#loading {
    position: relative;
    z-index: 1;
}
#loadContent {
    display: block;
    position: relative;
    margin: 0 auto;
    height: auto;
    top: auto;
    left: auto;
    transform: none;
    z-index: 1;
}
.navbar-fixed-top {
    position: relative !important;
}
.main {
    font-size: 16px;
    line-height: 1.5;
}
.returnPageTop {
    display: block;
    position: relative;
    bottom: auto;
    right: auto;
}