@charset "utf-8";

/*
#overview
フッタ
*/

/*
#styleguide
フッタ
```
    <footer class="l-footer">
        <small class="pt-1 pb-2 l-footer_copyright">© 2019-2020 アルム＝バンド</small>
    </footer>
```
*/

@use "../global" as g;

.l-footer {
    clear: both;
    background-color: g.$us-main-color;
    color: g.$us-bg-color;
    &_copyright {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
    }
}
