@charset "utf-8";

/*
#overview
ヘッダ
*/

/*
#styleguide
ヘッダ(ハンバーガー使用)
```
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand my-0" href="#">サイト名</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarList">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ページ1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ページ2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ページ3</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
```
*/

.l-navbar {
    &_header {
        @include mincho();
    }
    &.navbar-light {
        .navbar-brand {
            &,
            &:link,
            &:visited {
                color: $main-color;
            }
            &:hover,
            &:active,
            &:focus {
                color: $main-color_d;
            }
        }
        .navbar-toggler {
            border-color: transparent;
            background-color: transparent;
            &[aria-expanded="true"] .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,48,48,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L 24 24M24 6L6 24'/%3E%3C/svg%3E");
            }
        }
    }
}
