@charset "utf-8";

$sns-array: (
    Twitter: (
        color: $bc-twitter,
        darkness: 8%
    ),
    Facebook: (
        color: $bc-facebook,
        darkness: 12%
    ),
    Hatena: (
        color: $bc-hatena-bookmark,
        darkness: 8%
    ),
    Line: (
        color: $bc-line,
        darkness: 5%
    ),
    Pocket: (
        color: $bc-pocket,
        darkness: 12%
    ),
    Feedly: (
        color: $bc-feedly,
        darkness: 8%
    )
);

//SNSシェアボタンを付与
.c-btn_news {
    &,
    &:link,
    &:visited {
        color: darken($bg-color, 4%);
        .fa.fa-fw {
            margin-right: 0.1rem;
        }
    }
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $bg-color;
    }
    @each $key, $val in $sns-array {
        &#{$key} {
            background-color: map-get($val, color);
            &:hover,
            &:active,
            &:focus {
                background-color: darken(map-get($val, color), map-get($val, darkness));
            }
        }
    }
}
