@charset "utf-8";

@use "sass:color";
@use "sass:map";
@use "node_modules/brand-colors/dist/latest/scss/brand-colors.latest" as bc; // ソーシャルメディアなどのブランドカラー
@use "../../global" as g;

$sns-array: (
    twitter: (
        color: bc.$bc-twitter,
        darkness: -8%,
    ),
    facebook: (
        color: bc.$bc-facebook,
        darkness: -12%,
    ),
    hatena: (
        color: bc.$bc-hatena-bookmark,
        darkness: -8%,
    ),
    line: (
        color: bc.$bc-line,
        darkness: -5%,
    ),
    pocket: (
        color: bc.$bc-pocket,
        darkness: -12%,
    ),
    feedly: (
        color: bc.$bc-feedly,
        darkness: -8%,
    ),
);

// SNSシェアボタンを付与
.btn.c-btn_news {
    &,
    &:link,
    &:visited {
        color: color.scale(g.$us-bg-color, $lightness: -4%);
        .fa.fa-fw {
            margin-right: 0.1rem;
        }
    }
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: g.$us-bg-color;
    }
    @each $key, $val in $sns-array {
        &#{$key} {
            background-color: map.get($val, color);
            &:hover,
            &:active,
            &:focus {
                background-color: color.scale(map.get($val, color), $lightness: map.get($val, darkness));
            }
        }
    }
}
