@charset "utf-8";

//facebookをリサイズする度に幅を調整
.fbWrapper{
    text-align: center;
    height: 600px; //描画の度に高さが変動してカクつくのを防ぐ
    max-width: 500px;
    margin: 0 auto;
    & > .fb-page {
        width: 100%;
        & > span {
            width: 100% !important;
        }
    }
}
iframe {
    width: 100% !important;
}