@charset "utf-8";

@include eyecatchBGImg("../img/eyecatch.jpg");
.index .eyecatch {
    $background-position: center center;
    $eyecacth-height: 100vh;

    margin-top: $navbar-height;
    height: $eyecacth-height;
    overflow: hidden;
    @include eyecatchCenter();
    &_header {
        @include eyecatchTypo(calc(4em + 4vw));
    }
}