@charset "utf-8";

@include eyecatchBGImg("../img/eyecatch.jpg", $background-position);
.index .eyecatch {
    margin-top: $navbar-height;
    height: $eyecacth-height;
    overflow: hidden;
    @include eyecatchCenter();
    &_header {
        @include eyecatchTypo(calc(4em + 4vw));
    }
    &_paragraph {
        color: $main-color;
    }
}
