@charset "utf-8";

@use "../assets/bootstrap/bootstrap" as b; //bootstrap

//trasition
@mixin t() {
    transition: all 0.3s ease;
}
@mixin tColors() {
    transition: color 0.3s ease, background-color 0.3s ease;
}

//font: round gothic
@mixin marugo() {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HGMaruGothicMPRO", sans-serif;
}

//font: serif
@mixin mincho() {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//eyecatch background-image
@mixin eyecatchBGImage($imgPath, $us-background-position) {
    background: {
        image: url($imgPath);
        position: $us-background-position;
    }
}

//eyecatch max-height
@mixin eyecatchMaxHeight() {
    @include b.media-breakpoint-down(sm) {
        max-height: 800px;
    }
    @include b.media-breakpoint-only(md) {
        max-height: 800px;
    }
    @include b.media-breakpoint-only(lg) {
        max-height: 800px;
    }
    @include b.media-breakpoint-up(xl) {
        max-height: 1080px;
    }
}

//eyecatch text
@mixin eyecatchText($fontSize, $us-main-color) {
    color: $us-main-color;
    z-index: 3;
    font-size: $fontSize;
    @include mincho();
}

//疑似要素に「文字列:」を付与する(電話番号等)
@mixin pseudoColon($text: "", $spacer) {
    content: $text + ":";
    margin-right: ($spacer * 0.25);
}

//疑似要素にFont Awesomeを付与する
@mixin iconFA($icon: "", $type: "solid", $spacer) {
    font-family: "Font Awesome 5 Free", sans-serif;
    @if $type == "regular" or $type == "brands" {
        font-weight: 400;
    } @else if $type == "light" {
        font-weight: 300;
    } @else {
        font-weight: 900;
    }
    content: $icon;
    margin-right: ($spacer * 0.25);
}
