@charset "utf-8";

/*
#overview
全体スタイルガイド
*/

/*
#styleguide
基本スタイル
```
<h1>見出し1</h1>
<h2>見出し2</h2>
<h3>見出し3</h3>
<h4>見出し4</h4>
<h5>見出し5</h5>
<h6>見出し6</h6>
<p>特に何も指定しないときの状態。<a href="#">リンク</a>。</p>
```
*/

/*
#styleguide
ボタンクラスを付与したリンク
```
<a href="#" class="btn btn-light">過去の履歴</a>
```
*/

//eyecatch
.index .c-eyecatch {
    height: $eyecatch-height;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
        @include eyecatchBGImage("../img/eyecatch_sp.jpg", $background-position);
    }
    @include media-breakpoint-only(md) {
        @include eyecatchBGImage("../img/eyecatch_tb2.jpg", $background-position);
    }
    @include media-breakpoint-only(lg) {
        @include eyecatchBGImage("../img/eyecatch_tb.jpg", $background-position);
    }
    @include media-breakpoint-up(xl) {
        @include eyecatchBGImage("../img/eyecatch.jpg", $background-position);
    }
    &_header {
        @include eyecatchText(calc(4em + 4vw));
    }
    &_paragraph {
        color: $main-color;
    }
}
