@charset "utf-8";

/*
#overview
全体スタイルガイド
*/

/*
#styleguide
基本スタイル
```
<h1>見出し1</h1>
<h2>見出し2</h2>
<h3>見出し3</h3>
<h4>見出し4</h4>
<h5>見出し5</h5>
<h6>見出し6</h6>
<p>特に何も指定しないときの状態。<a href="#">リンク</a>。</p>
```
*/

/*
#styleguide
ボタンクラスを付与したリンク
```
<a href="#" class="btn btn-light">過去の履歴</a>
```
*/

@use "../../global" as g;
@use "../../global/framework" as fr;

//eyecatch
.index .c-eyecatch {
    height: g.$us-eyecatch-height;
    overflow: hidden;
    @include fr.media-breakpoint-down(sm) {
        @include g.eyecatchBGImage("../img/eyecatch_sp.jpg", g.$us-background-position);
    }
    @include fr.media-breakpoint-only(md) {
        @include g.eyecatchBGImage("../img/eyecatch_tb2.jpg", g.$us-background-position);
    }
    @include fr.media-breakpoint-only(lg) {
        @include g.eyecatchBGImage("../img/eyecatch_tb.jpg", g.$us-background-position);
    }
    @include fr.media-breakpoint-up(xl) {
        @include g.eyecatchBGImage("../img/eyecatch.jpg", g.$us-background-position);
    }
    &_header {
        @include g.eyecatchText(calc(4em + 4vw), g.$us-main-color);
    }
    &_paragraph {
        color: g.$us-main-color;
    }
}
