@charset "utf-8";

/*
#overview
ページトップへ戻る
*/

/*
#styleguide
ページトップへ戻る
```
<div class="returnPageTop c-returnPageTop"><i class="fa-solid fa-fw fa-chevron-up" aria-hidden="true"></i></div>
```
*/

@use "../../global" as g;
@use "sass:math";

$rpt-size: 44px;

.c-returnPageTop {
    position: fixed;
    bottom: 4%;
    right: 6%;
    z-index: 90;
    display: block;
    text-decoration: none;
    border-radius: math.div($rpt-size, 11);
    background-color: g.$us-main-color_l;
    @include g.t();
    &:hover,
    &:active,
    &:focus {
        background-color: g.$us-main-color;
        text-decoration: none;
    }
    &:not(.active) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
    .fa-fw {
        font-size: math.div($rpt-size, 2);
        color: g.$us-bg-color;
        cursor: pointer;
        width: $rpt-size;
        height: $rpt-size;
        line-height: $rpt-size;
        text-align: center;
    }
}
