@charset "utf-8";

$rpt-size: 44px;
.c-returnPageTop {
    display: none;
    position: fixed;
    bottom: 4%;
    right: 6%;
    z-index: 90;
    .fa-fw {
        font-size: $rpt-size / 2;
        background-color: $main-color3;
        border-radius: $rpt-size / 11;
        color: $bg-color;
        cursor: pointer;
        @include t();
        display: block;
        width: $rpt-size;
        height: $rpt-size;
        line-height: $rpt-size;
        text-align: center;
        &:hover,
        &:active {
            background-color: $main-color;
        }
    }
}
