<ul class="slider mx-0 mb-0 p-0">
    <li><img src="<%= relPath %>img/eyecatch.jpg" alt="image01"></li>
    <li><img src="<%= relPath %>img/eyecatch.jpg" alt="image02"></li>
    <li><img src="<%= relPath %>img/eyecatch.jpg" alt="image03"></li>
</ul>