@charset "utf-8";

@use "../../global" as g;

a {
    &,
    &:link {
        color: g.$us-link-color;
        text-decoration: none;
    }
    &:visited {
        color: g.$us-link-v-color;
        text-decoration: none;
    }
    &:hover,
    &:active {
        color: g.$us-link-ha-color;
        text-decoration: underline;
    }
}
