@charset "utf-8";

@use "../../global" as g;

//slick
.slider {
    overflow: hidden;
    position: relative;
    height: 80vh;
    margin-top: g.$us-navbar-height;
    z-index: 1;
    li {
        img {
            width: 100%;
        }
    }
    .slide_arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        @include g.t();
        .fa-fw {
            color: g.$us-accent-color;
            cursor: pointer;
        }
        &Left {
            left: -100%;
        }
        &Right {
            right: -100%;
        }
    }
    &.arrowShow {
        .slide_arrow {
            &Left {
                left: 0;
            }
            &Right {
                right: 0;
            }
        }
    }
}
