@charset "utf-8";

// ============================================= *
//                                               *
// Import                                        *
//                                               *
// ============================================= */
@import "assets/bootstrap/bootstrap"; //bootstrap
@import "util/var"; //変数
@import "../../node_modules/brand-colors/dist/latest/scss/brand-colors.latest"; //ソーシャルメディアなどのブランドカラー
@import "util/typo"; //ベンダープレフィックス等のMixinモジュール
@import "util/module"; //ベンダープレフィックス等のMixinモジュール
//@import "util/bootcanceller"; //bootstrapでいつも気になるものをキャンセル
@import "util/base"; //フォント指定やIE対処など
@import "_plugins/plugins"; //プラグイン

// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */
.upper {
    min-height: calc(100vh - (1.5rem * 2) - #{$footer-height}); //コンテンツの高さが足りなくてもフッタを最下部に表示するように //1.5rem * 2:my-4で足される上端と下端のマージンの合計
}
// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
//@import "util/navbar"; //ヘッダナビゲーションバーの設定。ハンバーガーメニューのアニメーションもここで。
@import "partial/header";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
body:not(.mobileSafari) .eyecatch {
    background-attachment: fixed;
}

// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
    margin: {
        left: 0;
        right: 0;
    }
    padding: {
        left: 0;
        right: 0;
    }
    background-color: $bg-color;
    color: $color;
    div:not(.text-center) p:not(.text-center) {
        text-indent: 1rem;
        & .fa-fw {
            margin: {
                left: -1rem;
                right: 1rem;
            }
        }
    }
    section {
        ul {
            padding-left: 1.4rem;
        }
        ol {
            padding-left: 1.6rem;
        }
    }
}

// ============================================= *
//                                               *
// フッタ                                         *
//                                               *
// ============================================= */
@import "partial/footer";