@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_news";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    .pagination {
        .page-item.active {
            .page-link {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }
    }
    &_contents {
        ul {
            padding-left: 1rem;
        }
        ol {
            padding-left: 2rem;
        }
    }
    &_share {
        .news_btn {
            a, a:link {
                color: darken($bg-color, 4%);
                .fa.fa-fw {
                    margin-right: 0.1rem;
                }
            }
            a:hover, a:active, a:focus {
                text-decoration: none;
                color: $bg-color;
            }
            &Twitter {
                background-color: $bc-twitter;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-twitter, 8%);
                }
            }
            &Facebook {
                background-color: $bc-facebook;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-facebook, 12%);
                }
            }
            &GooglePlus {
                background-color: $bc-google-plus;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-google-plus, 8%);
                }
            }
            &Line {
                background-color: $bc-line;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-line, 5%);
                }
            }
            &Pocket {
                background-color: $bc-pocket;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-pocket, 12%);
                }
            }
            &Rss {
                background-color: $bc-feedly;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-feedly, 8%);
                }
            }
        }
    }
}