@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    .pagination {
        .page-item.active {
            .page-link {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }
    }
    &_card {
        margin-bottom: 1rem;
    }
    &_contents {
        ul {
            padding-left: 1rem;
        }
        ol {
            padding-left: 2rem;
        }
        img {
            max-width: 100%;
        }
    }
}
