@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_news";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    &_contents {
        ul {
            padding-left: 1rem;
        }
        ol {
            padding-left: 2rem;
        }
    }
    &_share {
        .btn-group {
            .news_btn {
                a, a:link {
                    color: darken($bg-color, 6%);
                }
                a:hover, a:active, a:focus {
                    text-decoration: none;
                    color: $bg-color;
                }
                &Twitter {
                    background-color: $bc-twitter;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-twitter, 8%);
                    }
                }
                &Facebook {
                    background-color: $bc-facebook;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-facebook, 8%);
                    }
                }
                &GooglePlus {
                    background-color: $bc-google-plus;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-google-plus, 5%);
                    }
                }
                &Line {
                    background-color: $bc-line;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-line, 4%);
                    }
                }
                &Pocket {
                    background-color: $bc-pocket;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-pocket, 5%);
                    }
                }
                &Rss {
                    background-color: $bc-feedly;
                    &:hover, &:active, &:focus {
                        background-color: lighten($bc-feedly, 5%);
                    }
                }
            }
        }
    }
}