@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_news";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    &_contents {
        ul {
            padding-left: 1rem;
        }
    }
}