@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  メイン                                         *
//                                                *
// ============================================= */
.index .indexmain {
    .origin {
        background: {
            image: url("../img/origin_of_name.jpg");
            repeat: no-repeat;
            position: center center;
        }
        background-size: cover;
        margin: {
            left: 0;
            right: 0;
        }
        padding: {
            left: 0;
            right: 0;
        }
        &_container {
            background-color: rgba($color, 0.4);
            color: $bg-color;
        }
    }
}
body:not(.mobileSafari).index .indexmain .origin {
    background-attachment: fixed;
}
body.mobileSafari.index .indexmain .origin { //index.jsでUAにより付与。mobile Safariバグ対策
    background-attachment: scroll;
}